@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Bold.woff') format('woff'), url('../fonts/ClearSans-Bold.ttf')  format('truetype'), url('../fonts/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Italic.woff') format('woff'), url('../fonts/ClearSans-Italic.ttf')  format('truetype'), url('../fonts/ClearSans-Italic.svg#ClearSans-Italic') format('svg');
  font-weight: normal;
  font-style: Italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Light.woff') format('woff'), url('../fonts/ClearSans-Light.ttf')  format('truetype'), url('../fonts/ClearSans-Light.svg#ClearSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Medium.woff') format('woff'), url('../fonts/ClearSans-Medium.ttf')  format('truetype'), url('../fonts/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans.woff') format('woff'), url('../fonts/ClearSans.ttf')  format('truetype'), url('../fonts/ClearSans.svg#ClearSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
}

div {
    display: block;
}

.wrapper {
    position: relative;
    left: 50%;
    margin-left: -600px;
    width: calc(50% + 600px);
}

.cursive {
    background-color: #efefef;
}

.cursive .inner {
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(74, 74, 74);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding: 10px 0 10px 140px;
    max-width: 300px;
}

.menu {
    display: block;
    background-color: #ffffff;
    overflow:hidden;
    margin: 0;
    padding-left: 125px;
}

.menu li {
    list-style: none;
    float: left;
}

.menu a {
    display: inline-block;
    font-size: 15px;
    font-family: "ClearSans";
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    padding: 13px 17px 13px;
    letter-spacing: 0.6px;
}

.menu li span {
    border-left: 2px solid #f7a801;
    padding: 4px 0;
}

.burger_wrapper {
    display: none;
    background-color: #ffffff;
    height: 44px;
}
.burger {
    position: absolute;
    cursor: pointer;
    background: #fff;
    width: 40px;
    height: 40px;
    left: 180px;
    top: 59px;
    border: 1px solid #563997;
    border-radius: 4px;
}

.burger span, .burger span::before, .burger span::after {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 28px;
    background: #563997;
    position: absolute;
    display: block;
    top: 10px;
    left: 6px;
}

.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    top: 20px;
    left: 0;
}

.phones {
    background-color: #563997;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 290px;
    padding: 11px 10px;
    z-index: 1;
}

.phones .icon {
    background: url(../images/sprites.svg) -1px -1px;
    width: 80px;
    height: 80px;
    float: left;
}

.phones a {
    font-size: 24px;
    font-family: "ClearSans";
    font-weight: Bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
}

.phones p {
    font-size: 14px;
    font-family: "Cleanvertising";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin: 0;
}

.logo1 {
    background-color: #563997;
    width: 120px;
    height: 130px;
    position: absolute;
    top: 0;
    color: white;
    z-index: 1;
}

.start {
    background: url(../images/main_1.jpg) center center;
    background-size: cover;
}

.first_wrapper {
    padding: 200px 0 135px;
}

h2 {
  font-size: 38px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 10px;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin: 15px;
  letter-spacing: 0.6px;
}

.start .book {
    background: url(../images/sprites.svg) -80px -990px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #f7a801;
    padding: 0 25px 5px;
}

@media (max-width: 1200px) {
     .wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
     left: 0;
    }
    
    .navbar {
        display: none;
    }
    
    .burger_wrapper {
        display: block;
    }
    
    .menu {
        padding-left: 200px;
    }
    
    .menu li {
        float: none;
    }
    
    .menu li span {
        border: none;
    }
}
