@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Bold.woff') format('woff'), url('../fonts/ClearSans-Bold.ttf')  format('truetype'), url('../fonts/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Italic.woff') format('woff'), url('../fonts/ClearSans-Italic.ttf')  format('truetype'), url('../fonts/ClearSans-Italic.svg#ClearSans-Italic') format('svg');
  font-weight: normal;
  font-style: Italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Light.woff') format('woff'), url('../fonts/ClearSans-Light.ttf')  format('truetype'), url('../fonts/ClearSans-Light.svg#ClearSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Medium.woff') format('woff'), url('../fonts/ClearSans-Medium.ttf')  format('truetype'), url('../fonts/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans.woff') format('woff'), url('../fonts/ClearSans.ttf')  format('truetype'), url('../fonts/ClearSans.svg#ClearSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
}

div {
    display: block;
}

.special_wrapper {
    position: relative;
    left: 50%;
    margin-left: -600px;
    width: calc(50% + 600px);
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

.cursive {
    background-color: #efefef;
}

.cursive .inner {
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(74, 74, 74);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding: 10px 0 10px 140px;
    max-width: 300px;
}

.menu {
    display: block;
    background-color: #ffffff;
    overflow:hidden;
    margin: 0;
    padding-left: 125px;
    position: absolute;
    z-index: 1;
}

.menu li {
    list-style: none;
    float: left;
}

.menu a {
    display: inline-block;
    font-size: 15px;
    font-family: "ClearSans";
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    padding: 13px 17px 13px;
    letter-spacing: 0.6px;
}

.menu li span {
    border-left: 2px solid #f7a801;
    padding: 4px 0;
}

.burger_wrapper {
    display: none;
    background-color: #ffffff;
    height: 44px;
}
.burger {
    position: absolute;
    cursor: pointer;
    background: #fff;
    width: 40px;
    height: 40px;
    left: 180px;
    top: 59px;
    border: 1px solid #563997;
    border-radius: 4px;
}

.burger span, .burger span::before, .burger span::after {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 28px;
    background: #563997;
    position: absolute;
    display: block;
    top: 10px;
    left: 6px;
    transition: all 200ms ease-in-out;
}


.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger span:active {
    opacity: 0;
}
    
 .burger span::before:active  {
    transform: rotate(45deg);
    top: 0;
}

 .burger span::after:active  {
    transform: rotate(-45deg);
    top: 0;
}

.phones {
    background-color: #563997;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 290px;
    padding: 11px 10px;
    z-index: 1;
}

.phones .icon {
    background: url(../images/sprites.svg) -1px -1px;
    width: 80px;
    height: 80px;
    float: left;
}

.phones a {
    font-size: 24px;
    font-family: "ClearSans";
    font-weight: Bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
}

.phones p {
    font-size: 14px;
    font-family: "Cleanvertising";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin: 0;
}

.logo1 {
    background-image: url(../images/ribbon-big.png);
    background-position: center center;
    background-size: cover;
    width: 120px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
}

.start {
    background: url(../images/main_1.jpg) center center;
    background-size: cover;
    height: 560px;
}

.start .wrapper {
    padding: 200px 0 135px;
}

h2 {
  font-size: 38px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 10px;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin: 15px;
  letter-spacing: 0.6px;
}

.start .book {
    background: url(../images/sprites.svg) -80px -990px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #f7a801;
    padding: 0 25px 5px;
}

.form_for_questions .wrapper {
    position: relative;
    max-width: 1150px;
}

.for_line {
    border: 4px solid #f7a801;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: -85px;
}

.questions {
    background: url(../images/pattern%20%282%29.png) #563997;
    border: 4px solid #ffffff;
    font-size: 22px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.13;
    text-align: center;
    padding: 45px 30px 30px;
    letter-spacing: 1.2px;
    margin-top: -35px;
}

.questions form {
    display: block;
    overflow: hidden;
}

.wpcf7-form-control-wrap {
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding: 20px 10px;
    float: left;
}

.wpcf7-form-control-wrap input {
    display: block;
    padding-left: 15px;
    font-size: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    height: 46px;
    width: 100%;
}

.wpcf7-form-control-wrap input[type="submit"] {
    display: block;
    background-color: #f7a801;
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 5px #d35a00;
}

.courses .wrapper {
    margin-top: 160px;
}

.courses h2 {
  font-size: 28px;
  font-family: "ClearSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom:20px;
  letter-spacing: 0.7px;
}

.courses h2 span {
   color: #f7a801; 
   font-size: 34px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.card {
    box-sizing: border-box;
    width: 33.333%;
    padding: 20px;
}

.card_wrapper {
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px #cfcfcf;
}

.card .photo {
    background-color: #563997;
    height: 260px;
    position: relative;
}

.card .photo .icon {
    background: url(../images/sprites.svg) #ededed;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
    height: 130px;
    width: 140px;
}

.school .photo .icon {
    background-position: -965px -100px;
}

.before_school .photo .icon {
    background-position: -205px -100px;
}

.after_school .photo .icon {
    background-position: -85px -100px; 
}

.card .text {
    background-color: #ededed;
    padding: 27px;
}

.card .text .line1 {
    font-size: 20px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
}

.card .text .line2 {
    font-size: 13px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    padding: 5px;
}

.card .button {
    background-color: #f7a801;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px #d35a00;
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    padding: 14px;
    margin: 20px 0 10px;
    display: block;
}

.discount .wrapper {
    margin: 60px auto;
}

.discount .promo {
    background-image: url(../images/promo.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    height: 355px;
    padding: 80px 0;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px #cfcfcf;
}

.discount h2 {
    display: block;
    max-width: 500px;
    font-size: 28px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.357;
    margin: 18px auto 22px;
    letter-spacing: 0.8px;
}

.discount h3 {
    font-size: 20px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0;
    font-weight: normal;
    margin: 23px;
}

.discount span {
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #f7a801;
    width: 150px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
     .special_wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
     left: 0;
     width: auto;
    }
    
    .navbar {
        display: none;
    }
    
    .burger_wrapper {
        display: block;
    }
    
    .menu {
        padding-left: 0;
        top: 70px;
        left: 230px;
    }
    
    .menu li {
        float: none;
    }
    
    .menu li span {
        border: none;
    }
}

@media (max-width: 830px) {
    .wpcf7-form-control-wrap {
    width: 50%;
    }
    
    .courses .wrapper {
    margin-top: 220px;
    }
    
    .card {
    width: 100%;
    }
}

@media (max-width: 500px) {
    .wpcf7-form-control-wrap {
    width: 100%;
    }
    
    .courses .wrapper {
    margin-top: 420px;
    }
}