@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Bold.woff') format('woff'), url('../fonts/ClearSans-Bold.ttf')  format('truetype'), url('../fonts/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Italic.woff') format('woff'), url('../fonts/ClearSans-Italic.ttf')  format('truetype'), url('../fonts/ClearSans-Italic.svg#ClearSans-Italic') format('svg');
  font-weight: normal;
  font-style: Italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Light.woff') format('woff'), url('../fonts/ClearSans-Light.ttf')  format('truetype'), url('../fonts/ClearSans-Light.svg#ClearSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Medium.woff') format('woff'), url('../fonts/ClearSans-Medium.ttf')  format('truetype'), url('../fonts/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans.woff') format('woff'), url('../fonts/ClearSans.ttf')  format('truetype'), url('../fonts/ClearSans.svg#ClearSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}

body{
	margin:0;
	padding: 0;
	font-family: 'основной шрифт', sans-serif;
	font-size: 14px;
	line-height:1.4;
	color:#000;
	min-width: 360px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.cursive {
    background-color: #efefef;
}

.cursive .inner {
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(74, 74, 74);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding: 10px 0;
    max-width: 300px;
    margin-left: 145px;
}
header .wrapper{
	position:relative;
}
.logo1 {
    background-image: url(../images/ribbon-big.png);
    background-position: center center;
    background-size: cover;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
}

.menu {
    display: block;
    background-color: #ffffff;
    margin: 0 0 0 90px;
}

.menu li {
    list-style: none;
    float: left;
    position: relative;
}

.menu a {
    display: inline-block;
    font-size: 15px;
    font-family: "ClearSans";
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    padding: 12px 20px 12px 16px;
    letter-spacing: 0.6px;
}

.menu li a::before {
    content: "";
    border-left: 2px solid #f7a801;
    padding: 3px;
    margin: 7px 10px 7px -20px;
}

.menu li:first-child a::before {
    border-left: none;
    padding: 0;
    margin: 0;
}

.submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 47px;
    left: 0px;
    display: none;
}

.menu li:hover .submenu {
    display: block;
}
.menu:after{
	content:"";
	display:block;
	clear:both;
}

.submenu li {
    position: relative;
    transition: all .2s linear 0s;
}

.submenu li a {
    position: relative;
    background-color: #ffffff;
    font-size: 15px;
    font-family: "ClearSans";
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    padding: 12px 20px 12px 16px;
    letter-spacing: 0.6px;
}

.burger_wrapper {
    display: none;
    background-color: #ffffff;
    height: 44px;
}
.burger {
    position: absolute;
    cursor: pointer;
    background: #fff;
    width: 40px;
    height: 40px;
    left: 185px;
    top: 59px;
    border: 1px solid #563997;
    border-radius: 4px;
}

.burger span, .burger span::before, .burger span::after {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 28px;
    background: #563997;
    position: absolute;
    display: block;
    top: 10px;
    left: 6px;
    transition: all 200ms ease-in-out;
}


.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger.active span {
    background-color: transparent;
}
    
 .burger.active span::before  {
    transform: rotate(45deg);
    top: 8px;
}

 .burger.active span::after  {
    transform: rotate(-45deg);
    top: 8px;
}       

.phones {
    background-color: #563997;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    padding: 10px 26px 12px 0;
    z-index: 1;
    text-align: left;
}

.phones .icon {
    background: url(../images/sprites.svg) -1px -1px;
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 5px;
}

.phones a {
    font-size: 22px;
    font-family: "ClearSans";
    font-weight: Bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-decoration: none;
}

.phones .free {
    font-size: 13px;
    font-family: "ClearSans";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-bottom: 5px;
}

.start {
    background: url(../images/main_1.jpg) center center;
    background-size: cover;
    height: 560px;
}

.start .wrapper {
    padding: 200px 0 135px;
}

h1 {
  font-size: 38px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 10px;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  font-family: "ClearSans";
  font-weight: Bold;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin: 15px;
  letter-spacing: 0.6px;
}

.start .book {
    background: url(../images/sprites.svg) -80px -990px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #f7a801;
    padding: 0 25px 5px;
}

.form_for_questions {
    padding: 0 31px;
}

.for_line {
    border: 4px solid #f7a801;
    left: 0;
    right: 0;
    padding: 5px;
    margin: -90px auto 0;
    max-width: 1200px;
}

.for_line .wrapper {
    padding: 0;
}

.questions {
    background: url(../images/pattern%20%282%29.png) #563997;
    border: 4px solid #ffffff;
    font-size: 22px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.13;
    text-align: center;
    padding: 45px 30px 25px;
    letter-spacing: 1.2px;
    margin-top: -30px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.questions form {
    display: block;
    overflow: hidden;
}

.wpcf7-form-control-wrap {
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding: 20px 10px;
    float: left;
}

.wpcf7-form-control-wrap input {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    height: 46px;
    width: 100%;
}

.wpcf7-form-control-wrap button {
    display: block;
    background-color: rgb(218, 93, 0);
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 4px;
    border: none;
}

.wpcf7-form-control-wrap button:hover {
    padding: 0 0 2px;
}

.wpcf7-form-control-wrap button .inner {
    background-color: #f7a801;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    border-radius: 2px;
    letter-spacing: 0.8px;
}

.courses {
    margin-top: 60px;
}

.courses h2 {
  font-size: 28px;
  font-family: "ClearSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.7px;
}

.courses h2 span {
   color: #f7a801; 
   font-size: 34px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -23px;
}

.courses .card {
    box-sizing: border-box;
    width: 33.333%;
    padding: 23px;
    display: flex;
}

.courses .card_wrapper {
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.card .photo {
    background-color: #563997;
    height: 260px;
    position: relative;
}

.card .photo .icon {
    background: url(../images/sprites.svg) #ededed;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    margin: auto;
    height: 140px;
    width: 140px;
}

.school .photo .icon {
    background-position: -965px -100px;
}

.before_school .photo .icon {
    background-position: -205px -100px;
}

.after_school .photo .icon {
    background-position: -85px -100px; 
}

.card .text {
    background-color: #ededed;
    padding: 27px;
}

.card .text .line1 {
    font-size: 20px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
}

.card .text .line2 {
    font-size: 13px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    padding: 5px 0;
    position: relative;
}

.card .button, .reviews .button {
    background-color: #f7a801;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px #d35a00;
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    padding: 14px;
    margin: 20px 0 10px;
    display: block;
    cursor: pointer;
}

.discount  {
    margin: 60px 0;
}

.discount .promo {
    background-image: url(../images/promo.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    height: 355px;
    padding: 80px 0;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.discount h2 {
    display: block;
    max-width: 500px;
    font-size: 28px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.357;
    text-align: center;
    margin: 0 auto;
    padding: 18px 10px 22px;
    letter-spacing: 0.8px;
}

.discount .application {
    font-size: 20px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0;
    font-weight: normal;
    padding: 23px;
}

.discount span {
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid #f7a801;
    width: 150px;
    margin: 0 auto;
}

.advantages {
    background: -webkit-linear-gradient(left, #f5f5f5 0%,#f5f5f5 50%,#ffffff 50%,#ffffff 100%);
}

.advantages .wrapper {
    background: -webkit-linear-gradient(left, #f5f5f5 0%,#f5f5f5 10%,#ffffff 10%,#ffffff 100%);
    display: flex;
    flex-wrap: wrap;
    max-width: 1230px;
}

.advantages  .man_and_woman {
    background-color: #f5f5f5;
    background-size: cover;
    box-sizing: border-box;
    border-bottom-right-radius: 90%;
    border-top-right-radius: 90%;
    flex-basis: 430px;
}

.advantages  .man_and_woman img {
    width: 430px;
    padding: 35px 0 25px;
}

.advantages_cards {
    flex:1;
}

.cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin: 0 -10px;
}

.advantages .card_wrapper {
    box-sizing: border-box;
    width: 50%;
    padding: 90px 30px 30px;
    position: relative;
    display: flex;
}

.advantages .for_line2 {
    border: 4px solid rgb(247, 168, 1);
    padding: 10px;
    margin-right: -15px;
}

.advantage {
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    margin-top: -23px;
    margin-left: -26px;
    background-color: #ffffff; 
}

.violet {
    background-color: #563997;
    font-size: 22px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 40px 20px 20px;
    position: relative;
}

.violet .icon {
    background: url(../images/sprites.svg);
    box-sizing: border-box;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 130px;
}

.experience .icon {
    background-position: -995px -240px;
}

.diploma .icon {
    background-position: -170px -240px;
}

.form .icon {
    background-position: -346px -240px;
}

.homea .icon {
    background-position: -525px -240px;
}

.white {
    font-size: 17px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: justify;
    padding: 20px;
}

.reviews {
    background-image: url(../images/reviews.jpg);
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
}

.reviews .wrapper {
    padding-bottom: 65px;
}

.reviews h3 {
    padding: 75px 0 20px;
    font-size: 28px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.8px;
    margin: 0;
}

.review_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -23px;
}

.reviews .card {
    padding: 23px;
    width: 33.333%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.reviews .text {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: justify;
    padding: 25px 30px 42px;
    height: 100%;
}

.reviews .icon {
    background: url(../images/sprites.svg) -997px -370px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 30px;
    height: 55px;
    width: 55px;
    background-color: #ffffff;
}

.reviews .name {
    background-color: #f7a801;
    font-size: 18px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    padding: 25px 30px;
    position: relative;
}

.reviews .button {
    max-width: 367px;
    margin: 25px auto;
    cursor: pointer;
}

.license {
    background-color: #ededed;
    height: 520px;
}

.license .headline {
    font-size: 28px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 70px 20px;
    margin: 0;
    letter-spacing: 0.7px;
}

.first_footer {
    background-color: #563997;
    width: 100%;
    padding: 50px 0;
}

.first_footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .buttons {
    margin: 10px 0 20px;
}

footer .button {
    background-color: #cfc9dc;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    max-width: 380px;
    padding: 16px;
    margin: 20px 0 10px;
    display: block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

footer .button .icon {
    background: url(../images/sprites.svg) #cfc9dc;
    background-size: 500px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto 0;
    height: 50px;
    width: 50px;
}

footer .school .icon {
    background-position: -490px -50px;
}

footer .before_school .icon {
    background-position: -105px -50px;
}

footer .after_school .icon {
    background-position: -45px -50px;
}

footer .button .line1 {
    font-size: 18px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 5px 50px;
}

footer .button .line2 {
    font-size: 13px;
    font-family: "ClearSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin-left: 50px;
    letter-spacing: 0;

}

footer .contacts {
   text-align: right;
   margin: 10px 0 40px auto;
}

.contacts img {
    width: 130px;
    height: 130px;
}

.contacts .address {
    font-size: 22px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    max-width: 300px;
    padding: 10px 0 20px;
}

.contacts .phonenumber {
    font-size: 22px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0;
}

.phonenumbers .free {
    font-size: 14px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 5px;
}

.second_footer {
    background-color: #3c276b;
    font-size: 14px;
    font-family: "ClearSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding: 20px;
}

@media (max-width: 1200px) {
    .navbar {
        display: none;
    }
    
    .burger_wrapper {
        display: block;
    }
    
    .menu {
        position: absolute;
        z-index: 1;
        padding-left: 0;
        top: 110px;
        left: 185px;
        margin: 0;
    }
    
    .menu li {
        float: none;
    }
    
    .menu li::before {
        border: none;
    }
}

@media (max-width: 1032px) {
    
    .wrapper {
        padding: 0 15px;
    }
	.cards,.review_cards {
		margin: 0 -15px;
	}
    
    .cursive .inner {
    margin-left: 170px;
    }
    
    
    .courses .card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    }
    
    .advantages .card_wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    }
    
    .reviews .card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    }
}
    

@media (max-width: 922px) {
    .wpcf7-form-control-wrap {
    width: 50%;
    }
    
    .man_and_woman {
    display: none;
    }
    
    .advantages .wrapper {
    background: #ffffff;
}
        
    .first_footer .wrapper {
    justify-content: center;
    }
    
    footer  .buttons {
    order: 2;
    width: 100%;
    }
    
    footer .button {
    margin: 20px auto 10px;  
    }
    
    footer .contacts {
    text-align: center;
    order: 1;
    width: 100%;
    }
    
    .contacts .address {
    margin: 0 auto;
    }
}

@media (max-width: 768px) {
   .phones {
    background-color: #f7a801;
    position: relative;
    max-width: 1200px;
    padding: 80px 10px 10px;
    z-index: 0; 
    margin-top: -45px;
    }
    
    .burger {
    top: 10px;
    right: 10px;
    left: auto;
    }
    
    .menu {
    padding-left: 0;
    top: 70px;
    right: 10px;
    left:auto;
    }
    
    .start .wrapper {
    padding: 70px 0 135px;
    }
}

@media (max-width: 526px) {
    
    .cursive .inner {
    color: #efefef;
    }
    
    .start h1 {
    font-size: 30px;
    }
    
    .wpcf7-form-control-wrap {
    width: 100%;
    }
    
    .discount .promo {
    padding: 20px 0;
    }
}